.container {
	display: flex;
}

.container .content {
	display: flex;
	flex: 1;
}

.container .sidebar{
	max-width: 30%;
	overflow-x: auto;
	display: flex;
	flex-direction: column;
}

.container .sidebar{

}