.container {
	display: flex;
}

.container .content {
	display: flex;
	flex: 1;
}

.container .sidebar{
	max-width: 30%;
	overflow-x: auto;
	display: flex;
	flex-direction: column;
}

.container .sidebar{

}

.container .content > * {
	flex: 1;
}

::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: #79f2b5;
}

::selection {
  color: #ffffff;
  background: #79f2b5;
}
