v-overview{
	padding: 30px;
	display: block;
}
.btn{
	padding: 4px;
	border-radius: 7px;
	border-width: 1px;
}

.columns {
	display: flex;
	flex-direction: row;
}
.columns > *{
	flex: 1;
}
.list{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.o5{
	opacity: 0.5;
}
.delete{
/*	background-color: #f88;*/
	min-width: 20px;
/*	min-height: 10px;*/
	border-radius: 5px;
	border: 1px solid #f99;
	color: red;
	background-color: transparent;
}

.delete:hover{
	background-color: #f99;
	color: #fff;
	border-color: #f00;
	transition: 140ms;
}

.f1{
	font-size: 16px;
}

.f2{
	font-size: 18px;
}

.f3{
	font-size: 21px;
}

.f4{
	font-size: 26px;
}

.dots{
	border-bottom: 2px dotted #333;
	flex: 1;
}