v-admin {
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}

v-admin button {
/*	margin: 4px;*/
	padding: 3px;
	border-radius: 5px;
	border: none;
}

v-admin input {
/*	font-size: 16px;*/
}

select{
	background-color: #d1ffe9;
}

option{
	background-color: #ffffff;
	font-size: 16px;
	animation: optAnim 300ms;
}

.addTableBtn{
	color: #2aae55;
	border: 2px solid #ddd;
	background-color: transparent;
}
.addTableBtn:active{
	color: #fff;
	background-color: #2aff55;
	transition: 0ms;
}

.rmvTableBtn{
	color: #ae2a2a;
	border: 2px solid #ddd;
	background-color: transparent;
}

.rmvTableBtn:active{
	color: #fff;
	background-color: #ff2a2a;
	transition: 0ms;
}

.addTableBtn,
.rmvTableBtn{
	font-size: 20px;
	transition: 200ms;
}

.adminAuth{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #222;
}
.adminAuth input[type="password"]{
	min-width: 100%;
}
input[type="password"]{
	text-align: center;
}

button.closeAdmin{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;

}

.closeAdmin span{
	margin-left: 10px;
}

.closeAdmin h3{
	flex: 1;
}

.order.header{
	border-bottom: 2px solid #ddd;
}

v-admin .s{
	width: 3em;
}