v-admin {
	overflow-y: scroll;
}

v-admin button {
/*	margin: 4px;*/
	padding: 3px;
	border-radius: 5px;
	border: none;
}

v-admin input {
/*	font-size: 16px;*/
}


.addTableBtn{
	color: #2aae55;
	border: 2px solid #ddd;
	background-color: transparent;
}

.rmvTableBtn{
	color: #ae2a2a;
	border: 2px solid #ddd;
	background-color: transparent;
}

.addTableBtn,
.rmvTableBtn{
	font-size: 20px;
}
