.menu{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
/*	gap: 4px;*/
/*	background-color: #ddd;*/
/*	padding: 30px;*/
	border-radius: 30px;
	font-family: cursive;;
}

.menu .food{
	padding: 13px 20px;
	border-radius: 13px;
	display: flex;
	flex-direction: row;
	min-width: 30%;
	flex-grow: 1;
	flex: 1;
}

.menu .food:hover{
	background-color: #e7ffef;
}

.menu .price{
/*	margin-left: auto;*/
	margin-left: 5px;
}
.menu .name{
	margin-right: 5px;
}