.orders{
	margin-right: 40px;
}

.order{
	padding: 3px;
	display: flex;
}

.order[active]{
	background-color: #e7ffef;

}

.order .numberPart,
.order .masaPart,
.order .totalPart{
	flex: 1;
}


.orderLine{
	margin-top: 3px;
	animation: orderLineAnim 300ms;
}

@keyframes orderLineAnim{
	from{
		transform: translateY(-10px);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;

	}
}

v-overview .resultCash{
	margin-top: 50px;
	display: block;
}


v-overview{
	overflow-y: auto;
}


details.delete > summary {
  list-style: none;
  padding: 0 3px;
}

v-overview .orders .order details summary.delete{
	visibility: hidden
}

v-overview .orders .order:hover details summary.delete{
	visibility: visible
}


v-overview .orders .order details[open] summary.delete {
	visibility: visible;
}

v-overview .orders .order details div.deletePopup {
	background-color: #ddd;
	padding: 7px;
	border-radius: 4px;
	position: absolute;
	border: 1px solid #666;
}

.wipeIn{
	animation: wipeInAnim 3000ms infinite;
	text-align: center;
	border-radius: 4px;
	margin: 4px;
	padding: 4px;
	background: linear-gradient(90deg, #3ff, #3f3, #3ff);
/*	color: #fff;*/
/*	background-position: 50% 50%;*/
/*	background-position: 100px 5px; */

/*	background-repeat: no-repeat;*/
}
@keyframes wipeInAnim{
	from{
		background-position: 0 0;
	}
	to{
		background-position: 1000px 5px; 

	}
}

v-overview button{
	padding: 12px;
	border-radius: 10px;
	border: none;
	transition: 120ms;
}

v-overview button:focus,
v-overview button:hover{
	transition: 400ms;
	box-shadow: 0 -12px 0 0 #c4e8d7;
}

v-overview button:focus{
	border: 2px solid #333;
	transition: 100ms;
}
